language: java

jdk:
  - oraclejdk8

os:
  - linux
  - osx

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

script: 
  - gradle build

deploy:
  provider: bintray
  file: bintray.json
  user: ${BINTRAY_USER}
  key: ${BINTRAY_PASS}
